NODE_ENV=""
PORT=""
LOG_LEVEL=""

DATABASE_URL=""

JWT_SECRET=""
JWT_EXPIRES_IN=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRES_IN=""

GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""

APP_NAME=""
SUPPORT_EMAIL=""

CLIENT_URL=""

APP_URL=""
